.post-card {
  position: relative;
  min-height: 120px;
  border-radius: 12px;
  padding: 20px;
  margin-top: 10px;
  border: 1px solid rgba(0,0,0,0.06);
  z-index: 0;
  background: #fff;
  transition: box-shadow 200ms, transform 300ms;
}

.post-card:hover {
  z-index: 10;
  box-shadow: 0 3px 14px rgba(0,0,0,0.05);
}

.post-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
}

.author-name {
  font-size: 17px;
  font-weight: 600;
}

.post-content {
  margin: 0;
  white-space: pre-wrap;
  color: #444;
  line-height: 1.6;
}

.post-actions {
  display: flex;
  position: relative;
  justify-content: end;
}

.action-button {
  background: none;
  border: none;
  color: #444;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: all .2s;
}

.action-button:hover {
  background: #f1f1f1;
}

.action-button.like {
  color: #e30000;
  font-weight: bold;
}

.action-icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
  display: inline;
  vertical-align: middle;
  margin-right: 6px;
}

.post-menu {
  position: absolute;
  top: 10px;
  right: 10px;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
}

.menu-dropdown {
  position: absolute;
  right: 0;
  top: 30px;
  background: white;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
  z-index: 100;
}

.menu-dropdown button {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.menu-dropdown button:hover {
  background: #f5f5f5;
}

.delete-btn {
  color: red;
}

.edit-post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: left;
}

.edit-textarea {
  font-family: inherit;
  font-size: 15px;
  width: 100%;
  min-height: 300px;
  max-height: 500px;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: vertical;
  scrollbar-width: thin;
}

.change-post-button {
  border: none;
  color: white;
  padding: 8px 18px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.submit {
  background-color: #2563EB;
  transition: background-color 300ms;
}

.submit:hover {
  background-color: #1d4ed8;
}

.cancel {
  background-color: #e30000;
  transition: background-color 300ms;
}

.cancel:hover {
  background-color: #a70000;
}
